<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>预约管理</title>
		<link href="../../component/pear/css/pear.css" rel="stylesheet" />
		<!-- logo -->
		<link rel="icon" href="admin/images/logo.ico" type="image/x-icon">
		<!-- logo 兼容处理 -->
		<link rel="shortcut icon" href="admin/images/logo.ico" type="image/x-icon">
	</head>
	<body class="pear-container">
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">预约</label>
						<div class="layui-input-inline">
							<input type="text" name="search" placeholder="" class="layui-input">
						</div>
					</div>



					<div class="layui-form-item layui-inline">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="appointment-query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
						<button type="reset" class="pear-btn pear-btn-md">
							<i class="layui-icon layui-icon-refresh"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="appointment-table" lay-filter="appointment-table"></table>
			</div>
		</div>

		<script type="text/html" id="appointment-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				删除
			</button>
		</script>
		
		<script type="text/html" id="appointment-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>
		
		<script type="text/html" id="appointment-enable">
			<input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="上架|下架" lay-filter="user-enable" checked = "{{ d.id == 10003 ? 'true' : 'false' }}">
		</script>

		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
		    layui.use(['table','form','jquery'],function () {
		        let table = layui.table;
		        let form = layui.form;
		        let $ = layui.jquery;
		
		        let MODULE_PATH = "./appointment/";
		
		        let cols = [
		            [
		                {type:'checkbox'},
		                {title: '科室', field: 'departmentId', align:'center'},
		                {title: '医生', field: 'doctorId', align:'center'},
						{title: '患者', field: 'userId', align:'center'},
                        {title: '是否就医', field: 'isComplete', align:'center'},
                        {title: '病情分析', field: 'diseaseId', align:'center'},
		                {title: '操作', toolbar: '#appointment-bar', align:'center', wuser_ididth:100}
		            ]
		        ]
		
		        table.render({
		            elem: '#appointment-table',
		            url: 'http://localhost:8080/appointment/list',
		            page: true ,
		            cols: cols ,
		            skin: 'line',
		            toolbar: '#appointment-toolbar',
		            defaultToolbar: [{
		                layEvent: 'refresh',
		                icon: 'layui-icon-refresh',
		            }, 'filter', 'print', 'exports']
		        });
		
		        table.on('tool(appointment-table)', function(obj){
		            if(obj.event === 'remove'){
		                window.remove(obj);
		            } else if(obj.event === 'edit'){
		                window.edit(obj);
		            } else if(obj.event === 'power'){
		                window.power(obj);
		            }
		        });
		
		        table.on('toolbar(appointment-table)', function(obj){
		            if(obj.event === 'add'){
		                window.add();
		            } else if(obj.event === 'refresh'){
		                window.refresh();
		            } else if(obj.event === 'batchRemove'){
		                window.batchRemove(obj);
		            }
		        });
		
		        form.on('submit(appointment-query)', function(data){
		            table.reload('appointment-table',{where:data.field})
		            return false;
		        });
		
		        form.on('switch(appointment-enable)', function(obj){
		            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
		        });
		
		        window.add = function(){
		            layer.open({
		                type: 2,
		                title: '新增',
		                shade: 0.1,
                        maxmin: true,
		                area: ['600px', '500px'],
		                content: MODULE_PATH + 'add.html'
		            });
		        }
		

		        window.edit = function(obj){
		            layer.open({
		                type: 2,
		                title: '修改',
		                shade: 0.1,
		                area: ['600px', '500px'],
                        content: MODULE_PATH +'edit.html?id='+obj.data.id
		            });
		        }
		
		        window.remove = function(obj){
		            layer.confirm('确定要删除该轮播图吗?', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
		                $.ajax({
		                    url: "http://localhost:8080/appointment/delete",
							data:{
		                        id:obj.data['id']
							},
		                    success:function(result){
		                        layer.close(loading);
		                        if(result.code==0){
		                            layer.msg(result.msg,{icon:1,time:1000},function(){
		                                obj.del();
		                            });
		                        }else{
		                            layer.msg(result.msg,{icon:2,time:1000});
		                        }
		                    }
		                })
		            });
		        }
		
		        window.batchRemove = function(obj){
		            let data = table.checkStatus(obj.config.id).data;
		            if(data.length === 0){
		                layer.msg("未选中数据",{icon:3,time:1000});
		                return false;
		            }
		            let ids = "";
		            for(let i = 0;i<data.length;i++){
		                ids += data[i].userId+",";
		            }
		            ids = ids.substr(0,ids.length-1);
		            layer.confirm('确定要删除这些用户', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
		                $.ajax({
		                    url: MODULE_PATH+"batchRemove/"+ids,
		                    dataType:'json',
		                    type:'delete',
		                    success:function(result){
		                        layer.close(loading);
		                        if(result.success){
		                            layer.msg(result.msg,{icon:1,time:1000},function(){
		                                table.reload('user-table');
		                            });
		                        }else{
		                            layer.msg(result.msg,{icon:2,time:1000});
		                        }
		                    }
		                })
		            });
		        }
		
		        window.refresh = function(){
		            table.reload('appointment-table');
		        }
		    })
		</script>
	</body>
</html>
