<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../admin/css/other/person.css" />
	</head>
	<body class="pear-container">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-body" style="padding: 25px;">
						<div class="text-center layui-text">
							<div class="user-info-head" id="userInfoHead">
								<img src="../../admin/images/avatar.jpg" width="115px" height="115px" alt="">
							</div>
							<h2 style="padding-top: 20px;font-size: 20px;">阿梓</h2>
							<p style="padding-top: 8px;margin-top: 10px;font-size: 13.5px;">成都，中国</p>
						</div>
					</div>
					<div style="height: 45px;border-top: 1px whitesmoke solid;text-align: center;line-height: 45px;font-size: 13.5px;">
						<span>金牌医师</span>
					</div>
				</div>

				<div class="layui-card">
					<div class="layui-card-header">
						近期操作
					</div>
					<div class="layui-card-body">
						<ul class="list">
								
									<li class="list-item"><span class="title">修改科室血液科</span><span class="footer">2023-06-04 21:26</span></li>
									<li class="list-item"><span class="title">新增厂商哈药</span><span class="footer">2023-06-04 22:45</span></li>
									<li class="list-item"><span class="title">新增过敏物花生</span><span class="footer">2023-06-06 11:32</span></li>
									<li class="list-item"><span class="title">新增患者付晓宇</span><span class="footer">2023-06-06 11:36</span></li>
									<li class="list-item"><span class="title">删除李医生取药信息</span><span class="footer">2023-06-06 13:52</span></li>
									<li class="list-item"><span class="title">修改凌医生手机号</span><span class="footer">2023-06-06 14:56</span></li>
									<li class="list-item"><span class="title">新增预约信息一条</span><span class="footer">2023-06-07 13:28</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="layui-col-md9">
				<div class="layui-card">
					<div class="layui-card-header">
						个人介绍
					</div>
					<div class="layui-card-body">
						<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
							<div class="layui-tab-content">
								<div class="layui-tab-item layui-show">
									
									<div class="layui-row layui-col-space10" style="margin: 15px;">
										<div class="layui-col-md1">
											<img src="../../admin/images/img.png" style="width: 100%;height: 100%;border-radius: 5px;" />
										</div>
										<div class="layui-col-md11" style="height: 80px;">
											<div class="title">阿梓</div>
											<div class="content">
												<p>阿梓，女，医学博士，主任医师，教授，博士生导师，现任四川大学华西医院消化内科主任，四川省医学会消化病学分会主任委员。</p>
											</div>
											<div class="comment">本人只爱读书</div>
										</div>
									</div>	
									<div class="layui-card-header">
										论文著作
									</div>
									<div class="layui-row layui-col-space10" style="margin: 15px;">
										<div class="layui-col-md1">
											<img src="../../admin/images/lc.jpg" style="width: 100%;height: 100%;border-radius: 5px;" />
										</div>
										<div class="layui-col-md11" style="height: 80px;">
											<div class="title">消化内镜联合四联疗法治疗胃溃疡出血的疗效和再出血因素分析</div>
											<div class="content">
												<p>研究消化内镜联合四联疗法治疗胃溃疡出血的临床效果及再出血因素分析.比较两组患者幽门螺杆菌( Hp)根除标准和临床疗效,以及再出血因素的原因.</p>
											</div>
											<div class="comment">关键词：胃溃疡出血 四联疗法 再出血 消化内镜</div>
										</div>
									</div>
									<div class="layui-row layui-col-space10" style="margin: 15px;">
										<div class="layui-col-md1">
											<img src="../../admin/images/wc.jpg" style="width: 100%;height: 100%;border-radius: 5px;" />
										</div>
										<div class="layui-col-md11" style="height: 80px;">
											<div class="title">罕见消化系疾病的诊断与治疗</div>
											<div class="content">
												<p>这里继续介绍8例罕见消化系疾病的诊断与治疗.病例1为肥胖女性脂肪性肝病,肝硬化和肝细胞癌,癌肿存在已5年,曾使用多种提高免疫力药物和多种治疗,除少许腹水外,症状轻微,死前仍稍胖,这与其他疾病所致的肝硬化和肝癌不同.</p>
											</div>
											<div class="comment">关键词：乳杆菌；消化应激；黏附能力 </div>
										</div>
									</div>
									<div class="layui-row layui-col-space10" style="margin: 15px;">
										<div class="layui-col-md1">
											<img src="../../admin/images/hb.jpg" style="width: 100%;height: 100%;border-radius: 5px;" />
										</div>
										<div class="layui-col-md11" style="height: 80px;">
											<div class="title">安胃疡胶囊联合雷贝拉唑对消化性胃溃疡患者胃肠道菌群分布与胃黏膜屏障功能的影响</div>
											<div class="content">
												<p>目的观察安胃疡胶囊联合雷贝拉唑对消化性胃溃疡患者胃肠道菌群分布与胃黏膜屏障功能的影响.
													,对照组予以雷贝拉唑治疗,
													观察组在对照组的治疗基础上予以安胃疡胶囊治疗.</p>
											</div>
											<div class="comment">关键词：消化性胃溃疡 安胃疡胶囊 雷贝拉唑 菌群分布 屏障功能</div>
										</div>
									</div>
									<div class="layui-row layui-col-space10" style="margin: 15px;">
										<div class="layui-col-md1">
											<img src="../../admin/images/sp.jpg" style="width: 100%;height: 100%;border-radius: 5px;" />
										</div>
										<div class="layui-col-md11" style="height: 80px;">
											<div class="title">乳杆菌耐消化应激能力及消化应激对其肠道黏附能力的影响</div>
											<div class="content">
												<p>首先通过体外模拟唾液-胃液-肠液应激实验研究乳杆菌的耐消化应激能力，然后研究其对肠道黏蛋白和Caco-2细胞的黏附及抑制肠道病原菌黏附的能力，最后探讨消化应激对乳杆菌黏附能力的影响。</p>
											</div>
											<div class="comment">关键词：乳杆菌；消化应激；黏附能力 </div>
										</div>
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../component/layui/layui.js"></script>
		<script>
			layui.use(['element'], function() {
				var element = layui.element;

			})
		</script>
	</body>
</html>
